In [91]:
import pandas as pd

In [92]:
import numpy as np

In [93]:
df = pd.read_csv('./pub0322.csv')

In [94]:
df.columns = df.columns.str.lower()

In [95]:
need_columns = ["lfsstat","prov","cma","age_6","sex","educ","cowmain","immig","naics_21","uhrsmain","schooln"]

In [96]:
df2 = df[need_columns]

In [97]:
df2.head()

,lfsstat,prov,cma,age_6,sex,educ,cowmain,immig,naics_21,uhrsmain,schooln
0,1,59,0,NaN,2,6,1.0,3,16.0,320.0,1.0
1,4,48,8,NaN,1,2,NaN,2,NaN,NaN,1.0
2,2,59,0,NaN,2,4,1.0,3,17.0,210.0,1.0
3,1,59,9,NaN,1,4,3.0,1,19.0,300.0,1.0
4,4,35,0,NaN,2,4,NaN,3,NaN,NaN,NaN

In [98]:
prov_mapping = {
    10:'Newfoundland and Labrador',
    11:'Prince Edward Island',
    12:'Nova Scotia',
    13:'New Brunswick',
    24:'Quebec',
    35:'Ontario',
    46:'Manitoba',
    47:'Saskatchewan',
    48:'Alberta',
    59:'British Columbia',
}

In [99]:
df2['prov_name'] = df2.prov.map(prov_mapping)

/tmp/ipykernel_2260/163233858.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['prov_name'] = df2.prov.map(prov_mapping)

In [100]:
df2

,lfsstat,prov,cma,age_6,sex,educ,cowmain,immig,naics_21,uhrsmain,schooln,prov_name
0,1,59,0,NaN,2,6,1.0,3,16.0,320.0,1.0,British Columbia
1,4,48,8,NaN,1,2,NaN,2,NaN,NaN,1.0,Alberta
2,2,59,0,NaN,2,4,1.0,3,17.0,210.0,1.0,British Columbia
3,1,59,9,NaN,1,4,3.0,1,19.0,300.0,1.0,British Columbia
4,4,35,0,NaN,2,4,NaN,3,NaN,NaN,NaN,Ontario
...,...,...,...,...,...,...,...,...,...,...,...,...
107962,1,48,0,NaN,1,4,2.0,3,4.0,500.0,1.0,Alberta
107963,1,24,0,NaN,2,2,1.0,3,10.0,375.0,1.0,Quebec
107964,4,35,3,NaN,1,1,NaN,3,NaN,NaN,NaN,Ontario
107965,4,24,0,NaN,1,5,NaN,3,NaN,NaN,NaN,Quebec
107966,1,13,0,NaN,1,4,2.0,3,11.0,600.0,1.0,New Brunswick

In [101]:
cma_mapping = {
    1: "Québec",
    2: "Montréal",
    3: "Ottawa/Gatineau",
    4: "Toronto",
    5: "Hamilton",
    6: "Winnipeg",
    7: "Calgary",
    8: "Edmonton",
    9: "Vancouver",
    0: "Other CMA or non-CMA"
}

In [102]:
df2['cma_name']= df2['cma'].map(cma_mapping)

/tmp/ipykernel_2260/1813396196.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['cma_name']= df2['cma'].map(cma_mapping)

In [103]:
df2

,lfsstat,prov,cma,age_6,sex,educ,cowmain,immig,naics_21,uhrsmain,schooln,prov_name,cma_name
0,1,59,0,NaN,2,6,1.0,3,16.0,320.0,1.0,British Columbia,Other CMA or non-CMA
1,4,48,8,NaN,1,2,NaN,2,NaN,NaN,1.0,Alberta,Edmonton
2,2,59,0,NaN,2,4,1.0,3,17.0,210.0,1.0,British Columbia,Other CMA or non-CMA
3,1,59,9,NaN,1,4,3.0,1,19.0,300.0,1.0,British Columbia,Vancouver
4,4,35,0,NaN,2,4,NaN,3,NaN,NaN,NaN,Ontario,Other CMA or non-CMA
...,...,...,...,...,...,...,...,...,...,...,...,...,...
107962,1,48,0,NaN,1,4,2.0,3,4.0,500.0,1.0,Alberta,Other CMA or non-CMA
107963,1,24,0,NaN,2,2,1.0,3,10.0,375.0,1.0,Quebec,Other CMA or non-CMA
107964,4,35,3,NaN,1,1,NaN,3,NaN,NaN,NaN,Ontario,Ottawa/Gatineau
107965,4,24,0,NaN,1,5,NaN,3,NaN,NaN,NaN,Quebec,Other CMA or non-CMA
107966,1,13,0,NaN,1,4,2.0,3,11.0,600.0,1.0,New Brunswick,Other CMA or non-CMA

In [104]:
df2.query('sex != 1 and sex != 2')

Empty DataFrame
Columns: [lfsstat, prov, cma, age_6, sex, educ, cowmain, immig, naics_21, uhrsmain, schooln, prov_name, cma_name]
Index: []

In [105]:
sex_mapping = {
    1: "M",
    2: "F"
}

In [106]:
df2['sex'] = df2['sex'].map(sex_mapping)

/tmp/ipykernel_2260/2470249572.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['sex'] = df2['sex'].map(sex_mapping)

In [107]:
df

,rec_num,survyear,survmnth,lfsstat,prov,cma,age_12,age_6,sex,marstat,...,lkatads,lkansads,lkothern,prioract,ynolook,tlolook,schooln,efamtype,agyownk,finalwt
0,1,2022,3,1,59,0,8,NaN,2,6,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1,NaN,183
1,2,2022,3,4,48,8,9,NaN,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,4,NaN,712
2,3,2022,3,2,59,0,4,NaN,2,4,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,14,1.0,372
3,4,2022,3,1,59,9,7,NaN,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,6,3.0,171
4,5,2022,3,4,35,0,12,NaN,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,NaN,207
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107962,107963,2022,3,1,48,0,4,NaN,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,6,1.0,477
107963,107964,2022,3,1,24,0,9,NaN,2,6,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1,NaN,296
107964,107965,2022,3,4,35,3,12,NaN,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,NaN,559
107965,107966,2022,3,4,24,0,11,NaN,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,NaN,172
107966,107967,2022,3,1,13,0,8,NaN,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,6,1.0,98

In [108]:
cowmain_name_mapping = {
    1: "Public sector employees",
    2: "Private sector employees",
    3: "Self-employed incorporated with paid help",
    4: "Self-employed incorporated no paid help",
    5: "Self-employed unincorporated with paid help",
    6: "Self-employed unincorporated no paid help",
    7: "Unpaid family worker",
    np.NaN: "Not applicable"
}

In [109]:
df2['cowmain_name'] = df2.cowmain.map(cowmain_name_mapping)

/tmp/ipykernel_2260/1130119051.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['cowmain_name'] = df2.cowmain.map(cowmain_name_mapping)

In [110]:
df2

,lfsstat,prov,cma,age_6,sex,educ,cowmain,immig,naics_21,uhrsmain,schooln,prov_name,cma_name,cowmain_name
0,1,59,0,NaN,F,6,1.0,3,16.0,320.0,1.0,British Columbia,Other CMA or non-CMA,Public sector employees
1,4,48,8,NaN,M,2,NaN,2,NaN,NaN,1.0,Alberta,Edmonton,Not applicable
2,2,59,0,NaN,F,4,1.0,3,17.0,210.0,1.0,British Columbia,Other CMA or non-CMA,Public sector employees
3,1,59,9,NaN,M,4,3.0,1,19.0,300.0,1.0,British Columbia,Vancouver,Self-employed incorporated with paid help
4,4,35,0,NaN,F,4,NaN,3,NaN,NaN,NaN,Ontario,Other CMA or non-CMA,Not applicable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107962,1,48,0,NaN,M,4,2.0,3,4.0,500.0,1.0,Alberta,Other CMA or non-CMA,Private sector employees
107963,1,24,0,NaN,F,2,1.0,3,10.0,375.0,1.0,Quebec,Other CMA or non-CMA,Public sector employees
107964,4,35,3,NaN,M,1,NaN,3,NaN,NaN,NaN,Ontario,Ottawa/Gatineau,Not applicable
107965,4,24,0,NaN,M,5,NaN,3,NaN,NaN,NaN,Quebec,Other CMA or non-CMA,Not applicable
107966,1,13,0,NaN,M,4,2.0,3,11.0,600.0,1.0,New Brunswick,Other CMA or non-CMA,Private sector employees

In [111]:
immigration_status = {
    1: True,
    2: True,
    3: False,
}
df2['immig'] = df2['immig'].map(immigration_status)

/tmp/ipykernel_2260/614706465.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['immig'] = df2['immig'].map(immigration_status)

In [112]:
df2

,lfsstat,prov,cma,age_6,sex,educ,cowmain,immig,naics_21,uhrsmain,schooln,prov_name,cma_name,cowmain_name
0,1,59,0,NaN,F,6,1.0,False,16.0,320.0,1.0,British Columbia,Other CMA or non-CMA,Public sector employees
1,4,48,8,NaN,M,2,NaN,True,NaN,NaN,1.0,Alberta,Edmonton,Not applicable
2,2,59,0,NaN,F,4,1.0,False,17.0,210.0,1.0,British Columbia,Other CMA or non-CMA,Public sector employees
3,1,59,9,NaN,M,4,3.0,True,19.0,300.0,1.0,British Columbia,Vancouver,Self-employed incorporated with paid help
4,4,35,0,NaN,F,4,NaN,False,NaN,NaN,NaN,Ontario,Other CMA or non-CMA,Not applicable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107962,1,48,0,NaN,M,4,2.0,False,4.0,500.0,1.0,Alberta,Other CMA or non-CMA,Private sector employees
107963,1,24,0,NaN,F,2,1.0,False,10.0,375.0,1.0,Quebec,Other CMA or non-CMA,Public sector employees
107964,4,35,3,NaN,M,1,NaN,False,NaN,NaN,NaN,Ontario,Ottawa/Gatineau,Not applicable
107965,4,24,0,NaN,M,5,NaN,False,NaN,NaN,NaN,Quebec,Other CMA or non-CMA,Not applicable
107966,1,13,0,NaN,M,4,2.0,False,11.0,600.0,1.0,New Brunswick,Other CMA or non-CMA,Private sector employees

In [113]:
df2['naics_21_true_value'] = df2['naics_21']

/tmp/ipykernel_2260/1280449834.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['naics_21_true_value'] = df2['naics_21']

In [114]:
df2

,lfsstat,prov,cma,age_6,sex,educ,cowmain,immig,naics_21,uhrsmain,schooln,prov_name,cma_name,cowmain_name,naics_21_true_value
0,1,59,0,NaN,F,6,1.0,False,16.0,320.0,1.0,British Columbia,Other CMA or non-CMA,Public sector employees,16.0
1,4,48,8,NaN,M,2,NaN,True,NaN,NaN,1.0,Alberta,Edmonton,Not applicable,NaN
2,2,59,0,NaN,F,4,1.0,False,17.0,210.0,1.0,British Columbia,Other CMA or non-CMA,Public sector employees,17.0
3,1,59,9,NaN,M,4,3.0,True,19.0,300.0,1.0,British Columbia,Vancouver,Self-employed incorporated with paid help,19.0
4,4,35,0,NaN,F,4,NaN,False,NaN,NaN,NaN,Ontario,Other CMA or non-CMA,Not applicable,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107962,1,48,0,NaN,M,4,2.0,False,4.0,500.0,1.0,Alberta,Other CMA or non-CMA,Private sector employees,4.0
107963,1,24,0,NaN,F,2,1.0,False,10.0,375.0,1.0,Quebec,Other CMA or non-CMA,Public sector employees,10.0
107964,4,35,3,NaN,M,1,NaN,False,NaN,NaN,NaN,Ontario,Ottawa/Gatineau,Not applicable,NaN
107965,4,24,0,NaN,M,5,NaN,False,NaN,NaN,NaN,Quebec,Other CMA or non-CMA,Not applicable,NaN
107966,1,13,0,NaN,M,4,2.0,False,11.0,600.0,1.0,New Brunswick,Other CMA or non-CMA,Private sector employees,11.0

In [115]:
naics_mapping = {
    1: "Agriculture",
    2: "Forestry and logging and support activities for forestry",
    3: "Fishing, hunting and trapping",
    4: "Mining, quarrying, and oil and gas extraction",
    5: "Utilities",
    6: "Construction",
    7: "Manufacturing - durable goods",
    8: "Manufacturing - non-durable goods",
    9: "Wholesale trade",
    10: "Retail trade",
    11: "Transportation and warehousing",
    12: "Finance and insurance",
    13: "Real estate and rental and leasing",
    14: "Professional, scientific and technical services",
    15: "Business, building and other support services",
    16: "Educational services",
    17: "Health care and social assistance",
    18: "Information, culture and recreation",
    19: "Accommodation and food services",
    20: "Other services (except public administration)",
    21: "Public administration",
    np.NaN: "Not applicable"
}

In [116]:
df2['naics_21'] = df2['naics_21_true_value'].map(naics_mapping)

/tmp/ipykernel_2260/3515925132.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['naics_21'] = df2['naics_21_true_value'].map(naics_mapping)

In [117]:
df2

,lfsstat,prov,cma,age_6,sex,educ,cowmain,immig,naics_21,uhrsmain,schooln,prov_name,cma_name,cowmain_name,naics_21_true_value
0,1,59,0,NaN,F,6,1.0,False,Educational services,320.0,1.0,British Columbia,Other CMA or non-CMA,Public sector employees,16.0
1,4,48,8,NaN,M,2,NaN,True,Not applicable,NaN,1.0,Alberta,Edmonton,Not applicable,NaN
2,2,59,0,NaN,F,4,1.0,False,Health care and social assistance,210.0,1.0,British Columbia,Other CMA or non-CMA,Public sector employees,17.0
3,1,59,9,NaN,M,4,3.0,True,Accommodation and food services,300.0,1.0,British Columbia,Vancouver,Self-employed incorporated with paid help,19.0
4,4,35,0,NaN,F,4,NaN,False,Not applicable,NaN,NaN,Ontario,Other CMA or non-CMA,Not applicable,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107962,1,48,0,NaN,M,4,2.0,False,"Mining, quarrying, and oil and gas extraction",500.0,1.0,Alberta,Other CMA or non-CMA,Private sector employees,4.0
107963,1,24,0,NaN,F,2,1.0,False,Retail trade,375.0,1.0,Quebec,Other CMA or non-CMA,Public sector employees,10.0
107964,4,35,3,NaN,M,1,NaN,False,Not applicable,NaN,NaN,Ontario,Ottawa/Gatineau,Not applicable,NaN
107965,4,24,0,NaN,M,5,NaN,False,Not applicable,NaN,NaN,Quebec,Other CMA or non-CMA,Not applicable,NaN
107966,1,13,0,NaN,M,4,2.0,False,Transportation and warehousing,600.0,1.0,New Brunswick,Other CMA or non-CMA,Private sector employees,11.0

In [118]:
schooln_mapping = {
    1: False,
    2: True,
    3: True,
    np.NaN: "Not applicable"
}

In [119]:
df2['is_student'] = df2['schooln'].map(schooln_mapping)

/tmp/ipykernel_2260/4092326498.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['is_student'] = df2['schooln'].map(schooln_mapping)

In [120]:
schooln_full_time_mapping = {
    1: '',
    2: True,
    3: False,
    np.NaN:'',
}

In [121]:
df2['Student_full_time'] = df2['schooln'].map(schooln_full_time_mapping)

/tmp/ipykernel_2260/2248183585.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Student_full_tiem'] = df2['schooln'].map(schooln_full_time_mapping)

In [122]:
df2

,lfsstat,prov,cma,age_6,sex,educ,cowmain,immig,naics_21,uhrsmain,schooln,prov_name,cma_name,cowmain_name,naics_21_true_value,is_student,Student_full_tiem
0,1,59,0,NaN,F,6,1.0,False,Educational services,320.0,1.0,British Columbia,Other CMA or non-CMA,Public sector employees,16.0,False,
1,4,48,8,NaN,M,2,NaN,True,Not applicable,NaN,1.0,Alberta,Edmonton,Not applicable,NaN,False,
2,2,59,0,NaN,F,4,1.0,False,Health care and social assistance,210.0,1.0,British Columbia,Other CMA or non-CMA,Public sector employees,17.0,False,
3,1,59,9,NaN,M,4,3.0,True,Accommodation and food services,300.0,1.0,British Columbia,Vancouver,Self-employed incorporated with paid help,19.0,False,
4,4,35,0,NaN,F,4,NaN,False,Not applicable,NaN,NaN,Ontario,Other CMA or non-CMA,Not applicable,NaN,Not applicable,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107962,1,48,0,NaN,M,4,2.0,False,"Mining, quarrying, and oil and gas extraction",500.0,1.0,Alberta,Other CMA or non-CMA,Private sector employees,4.0,False,
107963,1,24,0,NaN,F,2,1.0,False,Retail trade,375.0,1.0,Quebec,Other CMA or non-CMA,Public sector employees,10.0,False,
107964,4,35,3,NaN,M,1,NaN,False,Not applicable,NaN,NaN,Ontario,Ottawa/Gatineau,Not applicable,NaN,Not applicable,
107965,4,24,0,NaN,M,5,NaN,False,Not applicable,NaN,NaN,Quebec,Other CMA or non-CMA,Not applicable,NaN,Not applicable,
107966,1,13,0,NaN,M,4,2.0,False,Transportation and warehousing,600.0,1.0,New Brunswick,Other CMA or non-CMA,Private sector employees,11.0,False,

In [123]:
df2.to_csv('project_cleaned.csv')